.hero
  height: 90%
  position: relative
  // padding-top: 50px
  // padding-bottom: 50px
  &:after
    content: ""
    display: block
    width: 100%
    height: calc(100% + 120px)
    z-index: -99
    position: absolute
    top: -120px
    left: 0
    background-image: url(../img/hero/hero_bg.jpg)
    background-size: cover
    background-position: center bottom
  &-block
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__img
    flex-basis: 45%
    display: block
    max-width: 540px
    height: 630px
    border-radius: 4px
  &-text
    flex-basis: 45%
    display: flex
    height: 630px
    flex-direction: column
    justify-content: center
    // padding-right: 40px
    &__title
      display: block
      font-size: 34px
      color: $color-text-second
      +boldRoboto
      margin: 0
      padding-bottom: 40px
    &__desc
      display: block
      font-size: 22px
      color: $color-text-second
      +coming
      line-height: 25px
      margin-bottom: 70px
      & p
        margin-top: 35px
        margin-bottom: 10px
        font-size: 16px
      & ul 
        list-style: none
        padding: 0
        +boldComing
        text-transform: capitalize
        & li
          padding-bottom: 5px
          font-size: 18px
    &__buttons
      margin-top: 40px
      display: flex
      justify-content: space-between
    &__button
      text-align: center
      width: 260px
      display: flex
      align-items: center
      justify-content: center

@media (max-width: 1200px)
  .hero
    height: 100%
    &__img
      flex-basis: 50%
    &-text
      &__buttons
        flex-wrap: wrap
      &__button
        width: 45%
        padding: 10px
@media (max-width: 997px)
  .hero
    &:after
      filter: blur(3px)
      filter: brightness(40%)
    &-block
      flex-wrap: wrap
      text-align: center
    &__img
      flex-basis: 90%
      margin: 0 auto
    &-text
      flex-basis: 90%
      padding: 0
      margin: 0 auto
@media (max-width: 786px)
  .hero 
    &__img
      max-width: 540px
      height: auto
@media (max-width: 546px)
  .hero 
    &__img
      max-width: 300px
      height: auto